@import "./Variables";

:root {
  --background-color: map-get($light-theme, background-color);
  --text-color: map-get($light-theme, text-color);
  // --hightlight-color:  map-get($light-theme, highlight-color);
  // --hover-color:  map-get($light-theme, hover-color);
  --background-color: #fff;
  --text-color: #000;
  --hightlight-color: #3390ec;
  --hover-color:  #f4f4f5;
  --overlay-color: #99ba92;
  --home-image: url('./images/home.png');
}

.dark-mode {
  --background-color: map-get($dark-theme, background-color);
  --text-color: map-get($dark-theme, text-color);
  --background-color: #000;
  --text-color: #fff;
  --hightlight-color: #3390ec;
  --hover-color:  #3e3e4a;
  --overlay-color: #0f0f0f;
  --home-image: url('./images/home.png');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // background-color: var(--background-color);
  // color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
.MuiIconButton-root {
  padding: 8px !important;
}
::-webkit-scrollbar {
  display: none;
}
::placeholder {
  color: var(--text-color);
}

//// --------------------MEDIA QUERIES--------------------------
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  * {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  * {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  * {
    font-size: 12px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  * {
    font-size: 9px;
  }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  * {
    font-size: 7px;
  }
}
