.mainPage {
  height: 100vh;
  display: flex;
  background-image: url('./images/home.png');
  background-size: contain;
  background-color: var(--overlay-color);
}
.css-1i7fmfs{
  padding: 0px !important;
}